/* GLOBAL */
/* Vùng kích thước của thẻ: Từ border đến nội dung */

/* margin: Khoảng cách giữa các thẻ đứng kế bên nhau
  padding: Khoảng cách giữa nội dung với viền của chính thẻ đó thẻ */

/* - Sử dụng mã màu rgba để làm mờ vật thể không làm mờ chữ */
* {
  /* box-sizing:- Không dùng được với margin
                - Cộng cả size của padding; */

  box-sizing: border-box;
}
.clear {
  clear: both;
  /*Xóa hiệu ứng của float tránh ảnh hưởng đến các thành phần bên dưới(Không padding hoặc margin được khi dùng float) */
}
html,
body {
  font-family: "Times New Roman", Times, serif;
}

/* HEADER */
.header img {
  height: 50px;
}
.header ul {
  background-color: black;
  padding: 10px 0;
  margin: 5px 0 10px;
}
.header a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.header li {
  display: inline;
  margin: 0 10px;
}

/* CAROUSEL */
.carousel {
  background-image: url("./img/thiet-ke-noi-that-biet-thu-sang-trong-victoria-village-lu-interior-design.jpg");
  height: 800px;
  background-size: cover;
  /* background-position: center center; */
}

/* INTRO */
.intro__content {
  width: 100%;
}
.intro span {
  color: #ff0000;
  font-size: 20px;
}
.intro__left,
.intro__right {
  float: left;
  width: 50%;
}
.intro__right {
  width: 50%;
}

.intro__small {
  float: left;
  width: 50%;
}
.into__item {
  padding: 0 20px 40px;
}
.into__item img {
  width: 100%;
  display: block;
}
.intro_smallLast img {
  height: 16rem;
}

/* PRODUCT */
.products {
  margin-bottom: 70px;
}
.products__item img {
  width: 100%;
}
.products__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.products__content h2 {
  text-align: center;
  font-size: 40px;
}
.products__item h3 {
  font-size: 25px;
}
.products__item p {
  font-size: 17px;
}
.products__item button {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: wheat;
  padding: 5px 10px;
  margin-top: 10px;
}

/* BANNER */
.banner {
  background-image: url("./img/living+room.jpg");
  height: 400px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
}
.banner__circle {
  width: 300px;
  height: 300px;
  background-color: rgba(119, 43, 43, 0.589);
  border-radius: 50%;
  color: white;
  text-align: center;
  /* opacity: 0.5; */
  position: absolute;
  top: 35px;
  left: 350px;
}
.banner__circle p {
  font-size: 20px;
}
.banner__circle p:first-child {
  font-size: 40px;
  margin: 35px 0 10px;
}
.banner__circle p:nth-child(2) {
  font-size: 80px;
  margin: 0;
}
.banner__circle p:nth-child(3) {
  margin: 7px 0;
}

/* SERVICES */
.services {
  margin: 20px 0 10px;
}
.services__content {
  width: 70%;
  margin: auto;
}
.services__item {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 0 20px;
}
.services__item i {
  font-size: 40px;
}
.services__item h2 {
  margin: 10px 0;
}
.services__item p {
  margin: 0;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer p,
h2 {
  margin: 0;
}
