/* h1: Selector
text-align: Property: Thuộc tính
center: value */
h1 {
    text-align: center;
}


/* class name */
.heading2,p {
    background-color: green;
}

/* id */
#title2 {
    color: brown;
}

.section1 p{
    font-size: 30px;
}
.section1 span{
    color: aqua;
}
/* "[>]" Chỉ áp dụng khi p là thẻ thẻ con 
gần nhất trực tiếp của section1 */
.section1 > p{

}

/* "[+]" Chỉ lấy 1 thẻ "h3" sát gần nhất
và cùng cấp với "div" */
div + h3{
    background-color: red;
}

/* "[~]"  lấy tất cả thẻ "h3" cùng cấp "div" */
/* div ~ h3{
    background-color: yellow;
} */

 /* Gọi theo attribute */
p[class="section1"]{
    background-color: violet;
}

/* 
Độ ưu tiên:
+ Inline > Interal > External > Brower */

/* Trong external
   + Độ ưu tiên từ trên xuống dưới
   (Trong trường hợp cùng điểm ưu tiên)

   + Selector:  + id: 100
                + class: 10
                + tag name: 1
    + điểm ưu tiên lớn hơn có độ ưu tiên cao hơn
    
*/